name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest    
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: execute py script # run the run.py to get the latest data
        id: pyscript
        run: |
          MY_STRING=$(python test.py)
          echo "::set-output name=content::${MY_STRING//$'\n'/'%0A'}"
      - name: display output from step
        run: echo "${{ steps.pyscript.outputs.content }}"
